@import url('./GlobalVar.css');
@import url('./fonts.css');

:root{
  --max-width: 100vw;
  --max-height: 100vh;
}

body {
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.App {
  text-align: center;
}