:root{
    --color-Cologate: #d2010d;
    --color-Text: #595655;
    --color-2Text: #959392;
    --Primera-Fila-Menu: 8em;
    --Segunda-Fila-Menu: 25em;
    --Tercera-Fila-Menu: 42em;
    --Background2: url('../img/Fondos/Fondo2.jpg');
}