.pHome {
  display: flex;
  /* overflow: auto; */
}

.Home {
  min-width: var(--max-width);
  height: var(--max-height);
  background: #af0614;
  color: #fff;
}

.separador {
  padding-top: 90px;
}

.slider {
  width: 100%;
  height: 300px;
  background: #a30b17;
}

.Home h1 {
  font-family: "HeavyItalic";
  font-size: 10em;
  margin: 0 0.2em;
  text-shadow: 10px 10px 0px #7b2423;
}

.Home h3 {
  font-family: "ExtraLightItalic";
  font-size: 3em;
  margin: 0;
}

.Home h3 b {
  font-family: "Italic";
}

.Home button {
  width: auto;
  margin: 1em 0 0;
  padding: 0.2em 1.5em 0.2em 1em;
  font-family: "BoldItalic";
  color: #af0614;
  font-size: 4em;
  background: #fff;
  border: 0;
  border-radius: 50px 0 50px 50px;
  cursor: pointer;
  border: none;
  outline: none;
}

.animate {
  animation-duration: 1s;
  animation-name: button;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes button {
  from {
    transform: scale(1.02)
  }

  to {
    transform: scale(1);
  }
}

.pMenu {
  min-width: var(--max-width);
  height: var(--max-height);
  background: url('../img/Fondos/Fondo1.jpg');
  position: relative;
}

.pMenu .titleMenu {
  width: auto;
  position: absolute;
  top: 20%;
  left: 41%;
  color: #545454;
}

.pMenu .titleMenu h1 {
  font-family: "BoldItalic";
  font-size: 7em;
  margin: 0;
  height: 120px;
}

.pMenu .titleMenu h1.op {
  font-size: 5em;
}

.pMenu .titleMenu h3 {
  font-family: "Regular";
  font-size: 2.5em;
  margin: 1px 0;
}

.ButtonsMenu {
  display: flex;
  justify-content: space-around;
  padding-top: 10em;
}

.ButtonsMenu a{
  height: min-content;
}