.MejoraTuSonrisa {
    display: flex;
    color: var(--color-Text);
}

.seccionesMTS {
    width: auto;
    display: flex;
    align-items: center;
    scroll-behavior: smooth;
}

.seccionMTS {
    width: 92vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 0 4.8em;
    text-align: left;
    background: var(--Background2);
    background-attachment: fixed;
}

.MejoraTuSonrisa .bMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bMenu .titleMenu {
    padding-bottom: 1em;
    margin: 0;
    font-size: 5em;
    font-family: "Light";
    color: var(--color-Text);
}

.bMenu .buttonsMenu {
    width: 100%;
    display: flex;
    justify-content: space-around !important;
}

.bMenu .btnImage {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.bMenu .btnImage img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bMenu .btnImage img:active {
    transform: scale(1.1);
    box-shadow: 0px 4px 4px #d2010d80;
}

.consejo1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.consejo1 .title,
.consejo2 .title {
    text-align: left;
    margin-bottom: 3em;
}

.title h1 {
    font-family: "Light";
    font-size: 4em;
    margin: 0;
}

.consejo1 .title p {
    font-family: "Light";
    font-size: 2em;
    margin: 0;
}

.consejo1 .title p i {
    color: var(--color-Cologate);
}

.consejo1 .seccion1 {
    width: 92vw;
}

.consejo1 .seccion1C1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.seccion1C1 .imgConsejo1 {
    width: 90%;
    margin: 0 auto 2em;
    -webkit-box-shadow: 0px 50px 31px -42px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 0px 50px 31px -42px rgba(0, 0, 0, 0.47);
    box-shadow: 0px 50px 31px -42px rgba(0, 0, 0, 0.47);
}

.consejo1 .seccion1C1 .horaCepillado {
    display: flex;
    justify-content: space-around;
    transform: scale(0.8);
}

.seccion1C1 .text p {
    margin: 1em auto;
    width: 70%;
    text-align: center;
}

.seccionMTS.consejo2, .seccionMTS.consejo3, .seccionMTS.consejo4, .seccionMTS.consejo5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.seccionMTS.consejo2 .seccionC2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.seccionC2 .imgSeccion2 img {
    width: 85%;
}

.seccionC2 .textSeccion2 {
    width: 75%;
}

.seccionC2 .textSeccion2 h1 {
    text-align: center;
    font-size: 2em;
    color: var(--color-Cologate);
}

.seccionC2 .textSeccion2 p {
    font-size: 1.5em;
    color: var(--color-Text);
}

.consejo3 .seccionConsejo3, .consejo4 .seccionConsejo4{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.consejo3 .textSeccion3{
    width: 40%;
    font-size: 1.8em;
    color: var(--color-Text);
}

.consejo3 .textSeccion3 b{
    color: var(--color-Cologate);
}

.ImagenConsejo3 {
    width: 40em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    /* transform: scale(1.4); */
}

.ImagenConsejo3 .ImgText{
    width: 200px;
}

.ImagenConsejo3 img{
    width: 180px;
    height: 438px;
}

.ImagenConsejo3 p {
    font-family: "LightItalic";
    font-size: 1.5em;
    width: 70%;
    margin: 1em auto 0;
    text-align: center;
}

.seccionesMTS .consejo4{
    position: relative;
}

.seccionConsejo4 .textSeccion4{
    width: 27%;
    font-size: 2em;
}

.seccionConsejo4 .imgSeccion4 .imgCepillo{
    transform: scaleX(-1);
}

.seccionConsejo4 .imgSeccion4 .imgFlecha{
    width: 14%;
    position: absolute;
    top: 27em;
    left: 35em;
}

.consejo5 .seccion5{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5em;
}

.seccion5 .ImgText p{
    font-family: "Regular";
    width: 20em;
}

/* .seccion5.parte2 .ImgText p{
    width: 14em;
} */

/* .seccion5.parte2 .ImgText img{
    width: 10em !important;
} */