.SliderProductos {
    display: flex;
}

.pProductos {
    width: auto;
    display: flex;
    align-items: center;
    scroll-behavior: smooth;
}

.plantillaProductos {
    width: 92vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 0 5em;
    text-align: left;
    background: url('../img/Fondos/Fondo2.jpg');
    background-attachment: fixed;
}

.plantillaProductos .imgProduvto {
    width: 40vw;
    height: 70vh;
}

.plantillaProductos .informacionProducto {
    width: 60vw;
    height: 70vh;
    color: var(--color-Text);
    padding: 0 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.informacionProducto .secTitulo {
    justify-self: start;
}

.informacionProducto .secTitulo h3 {
    font-family: "BoldItalic";
    color: var(--color-Cologate);
    font-size: 1.7em;
    margin: 1px 0;
}

.informacionProducto .secTitulo h1 {
    font-family: "Light";
    font-size: 3em;
    margin: 1px 0;
}

.informacionProducto .secTitulo h3.subTitulo {
    font-family: "ExtraLightItalic";
    color: var(--color-Cologate);
    font-size: 1.7em;
    margin: 1px 0;
    position: relative;
    bottom: 20px;
}

.informacionProducto p.informacion {
    font-size: 1.4em;
    font-family: "Regular";
    text-align: left;
    margin: 0px;
}

.informacionProducto h3.tituloSec {
    font-size: 1.7em;
    font-family: "HeavyItalic";
    color: var(--color-Cologate);
    margin-bottom: 0px;
}

.informacionProducto .seccionBeneficios {
    background: rgb(243, 243, 243);
    background: linear-gradient(90deg, rgba(243, 243, 243, 1) 60%, rgba(0, 212, 255, 0) 100%);
    padding: 0.5em 2em;
    font-family: "Italic";
    font-size: 1.3em;
    border-radius: 10px;
}

.informacionProducto .seccionBeneficios ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.informacionProducto .seccionBeneficios li {
    background: url('../img/Listones/star.svg') no-repeat left top;
    background-size: 55px 35px;
    height: auto;
    padding-left: 50px;
    text-align: justify;
    margin: 15px 0;
    font-size: 0.9em;
}

.informacionProducto .seccionBeneficios li p {
    margin: 2px 0;
}

.informacionProducto span.pExtra{
    margin-left: 2em;
}

.plantillaProductos.plantillaImagenes{
    justify-content: center;
}

.plantillaProductos .pImagenes{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plantillaProductos .pImagenes h3{
    margin: 0;
    font-family: "Bold";
    font-size: 2em;
    color: var(--color-Cologate);
    text-align: left !important;
}

.plantillaProductos .pImagenes h1{
    margin: 0;
    font-family: "Light";
    font-size: 2em;
    color: var(--color-Text);
    text-align: left !important;
}

.noVisible{
    display: none;
}